.jumbotron{
  background-image:  url("../images/Ada_Lovelace_portrait.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 0;
  background-color: white;
}
.jumbotron h2{
  color: black;
  font-family: "Libre Baskerville";
  padding-left: 30px;
  font-size: 23px;
  font-weight: lighter;
  max-width: 85%;
  line-height: 40px;
  color: #505050;
  }
.jumbotron h1{
  color: black;
  font-family: "Libre Baskerville";
  padding-top: 30px;
}
.jumbotron .topmarks{
  font-size: 60px;
  vertical-align: text-bottom;
}
.jumbotron .bottommarks{
  font-size: 60px;
  vertical-align: bottom;
}
.quotecontainer{
  margin-top: 35%;
}
@media(min-width: 1024px){
  .jumbotron {
    background-image:  url("../images/Ada_Lovelace_portrait.jpg");
    background-size: cover;
    min-height: 600px;
    padding-top: 100px;
  }
  .jumbotron h2{
    color: white;
    padding-bottom: 15px;
    }
  .jumbotron h1{
    color: white;
    font-size: 60px;
    padding-top: 80px;
  }
  .jumbotron .marks{
    font-size: 40px;
    vertical-align: middle;
  }
  .quotecontainer{
    margin-top: 0%;
    float: left;
    padding-left:
  }



}
/* End of media query */

.textheading h2{
  font-family: "Libre Baskerville";
  color: grey;
}
article{
  padding-bottom: 50px;
}
footer{
  padding: 15px 0;
  background-color: #C0C0C0;
}
a{
  color: grey;
}
a:hover{
  color: #fca994;
}
footer p{
  display: inline;
  color: grey;
  font-weight: bold;
}
